################################################################################
#
# \file   .editorconfig
# \author Akshay Krishna Upendran
# \brief  Custom options file for editorconfig (https://editorconfig.org/)
# \usage  Plugin -> Inbuilt in IDEs
#
# Some documentation of the options is provided here for convenience. For full
# options documentation, go to
# https://editorconfig-specification.readthedocs.io/en/latest/
#
# Read more @ https://editorconfig-specification.readthedocs.io/en/latest/
# For Plugins visit https://editorconfig.org/
################################################################################

; All Property Names and Property Values are case insensitive
; Please note that if indent_style=tab then tab_width=indent_size
; charset -> Set to latin1, utf-8, utf-8-bom, utf-16be or utf-16le to control the character set. Use of utf-8-bom is discouraged.
; ToDo: Find out if utf-8 character set is okay for all types of files

# top-most EditorConfig file
root = true

# Linux-style newlines with a newline ending every file
# As this is common -> lets make it for all files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8

; If Sub root files exist make sure to add unset to these variablles
; Both # and ; are commments
